<div class="content-full">
   <div class="content-full-bottom">
      <div class="content-full-repeat">
         <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="yellow">GAP</span> Live! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#BCBCBC; font-weight: normal; font-size: 22px;">CHECK OUT OUR PRODUCTS IN ACTION</span></h2> 
         <div id="field-slideshow">
            <ul>
{loop items="#items" value="item"}
               <li><a href="{#item.fullSize.srcValue}" title="{#item.itemName}" class="fancy" rel="field">{#item.thumbnail.tag}</a></li>
{/loop}
            </ul>            
         </div>
      </div>
   </div>
</div>