<table cellpadding="0" cellspacing="0" width="100%" border="0" id="tblClients">
   <tbody>
    {row data="#items" columns="4"}
      <tr>
         {#count|set value="1"}
        {column}
          <td{if #count = 1} class="first"{/if}>{#column.image.tag}</td>
         {#count|increment value="1"}
        {/column}
        {emptyColumn}
          <td{if #count = 1} class="first"{/if}>&nbsp;</td>
         {#count|increment value="1"}
        {/emptyColumn}
         {if #count = 4}{#count|set value="1"}{/if}
      </tr>
    {/row}
   </tbody>
  </table>