<div class="content-full first"><div class="content-full-bottom"><div class="content-full-repeat"><h1>{#heading}</h1></div></div></div>

<div class="content-sidebar left"><div class="content-sidebar-bottom left"><div class="content-sidebar-repeat left">
{#content}
</div></div></div>

            <div class="content-main right">
            	<div class="content-main-bottom right">
                	<div class="content-main-repeat right">
                    	{ap_api:widgets:collection:view key="clients-v2"}
                    </div>
                </div>
            </div>