<div class="content-full first"><div class="content-full-bottom"><div class="content-full-repeat"><h1>{#heading}</h1></div></div></div>

<div class="content-main left"><div class="content-main-bottom left"><div class="content-main-repeat left">
{#content}
{if #form}{#form}{/if}
</div></div></div>

<div class="content-sidebar right"><div class="content-sidebar-bottom right"><div class="content-sidebar-repeat right">
   {#rightContent}
</div></div></div>