<h1>{#heading}</h1>
{#content}
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td width="420">{ap_api:form:getForm key="contest"}<p style="text-align: left;"><br />Good Luck!</p>
<p style="text-align: left;">- The GAP Team</p></td>
<td>{#image.tag}</td>
</tr>
</table>