<h3 class="team-name">{#name}<span>{#position}</span></h3>
{if #image}<img src="{#image.srcValue}" height="{#image.heightValue}" width="{#image.widthValue}" alt="{#name}" class="right-image" />{/if}
{#bio}