            <br class="clear" />   
            </div> <!-- content -->
            <div id="footer-wrapper">
                <div id="footer">
        	<div id="copyright">Copyright 2010 GAP Promotions. All Rights Reserved.<br />127 Eastern Avenue, Suite 3, Gloucester, MA 01930<br />Phone: 978-281-0083 &bull; Toll Free: 888-88-GOGAP</div>
            <div id="footer-icons">
            	<a href="http://www.wbenc.com/" target="_blank"><img src="/images/wbenc-logo.png" alt="WBENC" height="45" width="105" /></a>
                <a href="http://www.wswa.org" target="_blank"><img src="/images/wswa-logo.png" alt="WSWA" height="45" width="50" /></a>
                <a href="http://nbwa.org/" target="_blank"><img src="/images/nbwa-logo.png" alt="NBWA" height="45" width="53"/></a>
                <a href="http://www.twitter.com/gap_promotions" target="_blank"><img src="/images/twitter-logo.png" alt="Twitter" height="45" width="45" /></a>
            	<a href="http://www.facebook.com/pages/Gloucester-MA/GAP-Promotions/134885089875578" target="_blank"><img src="/images/facebook-logo.png" alt="Facebook" height="45" width="44" /></a>
            </div> 
            <br class="clear" />  
    	</div>
  </div>
    	</div><!-- main -->
    </div> <!-- wrapper -->
    <script type="text/javascript"> Cufon.now(); </script>
  </body>
</html>