            <br class="clear" />
            </div>
            <div id="footer">
            	<ul>
                	<li class="phone">888.88.GOGAP</li>
                    <li class="web"><a href="/">GAPPROMO.COM</a></li>
                    <li class="twitter"><a href="http://www.twitter.com/gap_promo" target="_blank">@GAP_PROMO</a></li>
                    <li class="facebook"><a href="http://www.facebook.com/gappromo" target="_blank">FACEBOOK.COM/GAPPROMO</a></li>
                </ul>
                <br class="clear" />
                <p>©{ap:year} GAP Promo. All Rights Reserved.<br />
				One Washington Street, Gloucester, MA 01930<br />
				Phone: 978.281.0083 &bull; Toll Free: 888.88.GOGAP</p>
                <a href="http://www.wbenc.com/" target="_blank" id="wbenc"><img src="/images/logo-wbenc.gif" height="43" width="107" alt="" /></a>
                <br class="clear" />

            </div>
        
  	</div>
</div>
  </body>
</html>