@charset "UTF-8";
/* CSS Document */

/* Color Glossary

  White: #ffffff;
  Gray: #e7e7e7;
  Dark Gray: #939495;
  Black: #333;
  Yellow: #e6a531;

*/

/* Structure
--------------------------------- */

body, input, select, textarea,.content-right-home h3{font-family:Helvetica, Arial,sans-serif;font-size:16px;position:relative;}
#drop-nav,#footer ul, .top-bar{font-family:Futura,'Century Gothic',AppleGothic,sans-serif;}

html{background:#000;}
body {color:#000;background:#fff url(../images/bkgrd-top.gif) repeat-x 0 0;}
#bkgrd{background:url(../images/bkgrd-bottom.gif) repeat-x 0 100%;margin:0;padding:0;}

#wrapper{width:985px;padding:50px 0 0 0;}

#header{position:relative;width:977px;height:66px;margin:0 4px;}
#logo{position:absolute;top:0;left:0;z-index:2;width:66px;height:66px;}
#logo-words{margin:0;background:url(../images/logo-words.png) no-repeat 0 0;height:59px;width:408px;position:absolute;top:3px;left:75px;text-indent:-9999em;}

.top-bar{
  color:#e7a614;
  font-size:18px;
  position:absolute;
  right:0;
  top:20px;

  a{
    color:#939495;
    padding-right:15px;

    &:hover{
      color:#e6a531;
      text-decoration:none;
    }
  }
}

#drop-nav{top:39px;right:0;}
#drop-nav li a{color:#bcbcbc;padding:5px 10px;display:block;font-size:16px;text-align:center;text-transform:uppercase;}
#drop-nav li a:hover,#drop-nav li a.current,#drop-nav li a.currentParent{color:#e6a531;}


#main{width:985px;}

.content-full{width:985px;padding:14px 0 0 0;background:url(../images/bkgrd-977-top.png) no-repeat 0 0;margin:9px 0 0 0;}
.content-full-bottom{width:985px;padding:0 0 14px 0;background:url(../images/bkgrd-977-bottom.png) no-repeat 0 100%;}
.content-full-repeat{width:945px;padding:6px 20px;background:url(../images/bkgrd-977.png) repeat-y 0 0;}

.content-full.first .content-full-repeat{padding:0px 20px;}
#home .content-full.first .content-full-repeat{padding:6px 20px;}

.content-full-nobkgrd{width:900px;margin:10px auto;text-align:center;color:#939495;font-size:23px;font-style:italic;}
.content-full-nobkgrd p{margin:0;}
.content-full.first{margin:0;}

.content-half{width:488px;padding:14px 0 0 0;background:url(../images/bkgrd-480-top.png) no-repeat 0 0;margin:9px 0 0 0;}
.content-half-bottom{width:488px;padding:0 0 14px 0;background:url(../images/bkgrd-480-bottom.png) no-repeat 0 100%;}
.content-half-repeat{width:448px;padding:6px 20px;background:url(../images/bkgrd-480.png) repeat-y 0 0;}

.content-half.right{float:right;clear:right;}
.content-half{clear:left;}
.content-half-nobkgrd{width:488px;float:left;clear:left;margin:9px 0 0 0;}
.content-half-nobkgrd.right{float:right;clear:right;}


.content-sidebar{width:398px;padding:14px 0 0 0;background:url(../images/bkgrd-390-top.png) no-repeat 0 0;margin:9px 0 0 0;}
.content-sidebar-bottom{width:398px;padding:0 0 14px 0;background:url(../images/bkgrd-390-bottom.png) no-repeat 0 100%;}
.content-sidebar-repeat{width:358px;padding:6px 20px;background:url(../images/bkgrd-390.png) repeat-y 0 0;}
.content-sidebar.left{float:left;}
.content-sidebar.right{float:right;font-weight:bold;text-align:right;}

.content-main{width:578px;padding:14px 0 0 0;background:url(../images/bkgrd-570-top.png) no-repeat 0 0;margin:9px 0 0 0;}
.content-main-bottom{width:578px;padding:0 0 14px 0;background:url(../images/bkgrd-570-bottom.png) no-repeat 0 100%;}
.content-main-repeat{width:538px;padding:6px 20px;background:url(../images/bkgrd-570.png) repeat-y 0 0;}
.content-main.left{float:left;}
.content-main.right{float:right;}



#footer{background:url(../images/bkgrd-footer.gif) no-repeat 0 0;width:977px;margin:5px auto;padding:49px 0 0 0;color:#939495;text-align:right;font-size:12px;}
#footer ul{margin:0;padding:5px 0 0 0;list-style:none;float:right;color:#e6a531;}
#footer ul li{display:inline;background:no-repeat 0 50%;}
#footer ul li a{padding:0;}

#footer ul li.phone{background-image:url(../images/footer-phone.gif);padding:0 10px 0 9px;}
#footer ul li.web{background-image:url(../images/footer-web.gif);padding:0 10px 0 10px;}
#footer ul li.twitter{background-image:url(../images/footer-twitter.gif);padding:0 10px 0 21px;}
#footer ul li.facebook{background-image:url(../images/footer-facebook.gif);padding:0 0 0 14px;}
#footer p{float:right;}
#footer a#wbenc{float:right;margin:18px 0 0 0;}


/* Headings
--------------------------------- */

h1,h2,h3,h4,h5,h6{text-transform:uppercase;}

h1{margin:0;font-size:29px;}
h2{font-size:24px;margin:0;}
h3{font-size:22px;margin:0;padding:0 10px;background:#e6a531;}
h3 span{color:#fff;float:right;}
h4{font-size:19px;margin:0;}
h5{font-size:18px;margin:0;}
h6{font-size:16px;margin:0;padding:0 10px;background:#e6a531;text-align:right;}

h3.team-name{font-size:18px;}


/* Links
--------------------------------- */

a {color:#e6a531;}
a:hover{text-decoration:underline;}
h2 a,h4 a{color:#000;}
h2 a:hover,h4 a:hover{color:#e6a531;text-decoration:none;}

a.button{display:block;padding:5px 10px;cursor:pointer;color:#fff;background:#939495;text-align:center;text-transform:uppercase;}
a.button:hover{background:#e6a531;color:#fff;text-decoration:none;}

/* Misc
--------------------------------- */

hr{background:#e9e8dd;height:5px;width:100%;margin:10px 0;border:0px none;}

.yellow{color:#e6a531;}
.small{font-size:12px;color:#939495;}

label{display:block;color:#000;padding:10px 0 5px 0;}
td label{color:#939495;padding:0;text-transform:uppercase;}

input, textarea{outline:none;background:#fff;border:1px solid #939495;color:#939495;padding:5px;}
input:focus, textarea:focus, input.focus, textarea.focus{outline:none thin;}

input[type=text],input[type=password],textarea{width:528px;}
td input[type=text],td input[type=password],td textarea{width:405px;}
input.small{width:150px;}
textarea{height:75px;resize:none;}
textarea.tall{height:150px;}
input[type=submit]{padding:5px 10px;cursor:pointer;color:#e6a531;background:#000;}
input[type=submit]:hover{background:#e6a531;color:#000;}

#carousel{position:relative;}
#slides{position:relative;width:945px;height:361px;z-index:1;padding:0;margin:0;}
.slide{position:absolute;top:0;left:0;padding:0;margin:0;}
.slide span{display:block;padding:5px 10px;width:925px;position:absolute;bottom:0;left:0;font-size:23px;font-weight:bold;background:url(../images/trans-black.png) repeat 0 0;color:#fff;text-transform:uppercase;}

#carousel ul{position:absolute;bottom:10px;right:10px;list-style:none;margin:0;padding:0;z-index:2;}
#carousel ul li{float:left;padding:0 5px;}
#carousel ul li a{display:block;height:7px;width:7px;background:#fff;opacity:0.4;filter:alpha(opacity=40);}
#carousel ul li a.activeSlide,#carousel ul li a:hover{opacity:1;filter:alpha(opacity=100);}

.tweet{font-size:14px;}
.tweet .tweet_list, .query .tweet_list{list-style-type:none;margin:0;padding:0;overflow-y:hidden;}
.tweet .tweet_list .awesome, .tweet .tweet_list .epic, .query .tweet_list .awesome, .query .tweet_list .epic{text-transform: uppercase;}
.tweet .tweet_list li, .query .tweet_list li{overflow-y: auto;overflow-x: hidden;padding:5px 0;}
.tweet .tweet_list .tweet_avatar, .query .tweet_list .tweet_avatar{padding-right: .5em;float: left;}
.tweet .tweet_list .tweet_avatar img, .query .tweet_list .tweet_avatar img{vertical-align:middle;}

.tweet .tweet_time a{color:#939495;}


ul#team{list-style:none;margin:0;padding:0;}
#team li a{display:block;color:#939495;padding:5px 0;}
#team li a:hover{color:#e6a531;text-decoration:none;}
#team li a.current{color:#000;}

#client-parent li{padding:10px 0;}

#tblClients a{display:block;width:130px;height:130px;position:relative;cursor:default;}
#tblClients a img.imgColor{display:none;position:absolute;top:0;left:0;}
#tblClients a img.imgBw{position:absolute;top:0;left:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter: alpha(opacity=70);opacity:0.7;}

#tblClients a.color img.imgColor{display:block;}
#tblClients a.color img.imgBw{display:none;}

.content-sidebar.right h6{margin:5px 0;padding:5px 10px;}
.content-sidebar.right ul li{padding:5px 0;text-transform:uppercase;}
.content-sidebar.right ul li a.twitter{background:url(../images/twitter.gif) no-repeat 0 50%;padding:5px 0 5px 36px;}
.content-sidebar.right ul li a.facebook{background:url(../images/facebook.gif) no-repeat 0 50%;padding:5px 0 5px 27px;}
.content-sidebar.right ul li a.linkedin{background:url(../images/linkedin.png) no-repeat 0 50%;padding:5px 0 5px 27px;}
.content-sidebar.right ul li a.instagram{background:url(../images/instagram.png) no-repeat 0 50%;padding:5px 0 5px 27px;}

#tblContact{width:100%;}
#tblContact td{padding:5px;vertical-align:middle;}
#tblContact .col1{text-align:right;width:100px;}

#portfolio-items{position:relative;width:538px;}
.items{width:538px;text-align:center;color:#939495;}

#carousel-nav{position:absolute;bottom:0;left:0;width:960px;height:100px;}

#prev{position:absolute;top:30px;left:-35px;background:url(../images/sprite-portfolio-arrows.gif) no-repeat 0 0;height:22px;width:30px;text-indent:-9999em;border:0px none;cursor:pointer;}
#prev.jcarousel-prev-disabled,#prev.jcarousel-prev-disabled:hover{background-position:0 -44px;cursor:default;}
#prev:hover{background-position:0 -22px;}

#next{position:absolute;top:30px;right:-35px;background:url(../images/sprite-portfolio-arrows.gif) no-repeat -30px 0;height:22px;width:30px;text-indent:-9999em;border:0px none;cursor:pointer;}
#next.jcarousel-next-disabled,#next.jcarousel-next-disabled:hover{background-position:-30px -44px;cursor:default;}
#next:hover{background-position:-30px -22px;}

#portfolio-nav{position:absolute;width:860px;height:82px;top:0;left:37px;}
#portfolio-nav ul{list-style:none;padding:0;margin:0;position:absolute;top:0;left:0;}
#portfolio-nav ul li{float:left;height:82px;width:82px;padding:0 2px;}
#portfolio-nav ul li a{padding:0;height:80px;width:80px;border:1px solid #fff;display:block;}
#portfolio-nav ul li a.activeSlide{border:1px solid #e6a531;}
#portfolio-nav ul li a:hover{border:1px solid #939495;}

#portfolio-categories{list-style:none;margin:0;padding:0;}
#portfolio-categories li{padding:1px 0;}
#portfolio-categories li a{display:block;padding:0 10px;border:1px solid #939495;color:#fff;background:#939495;font-size:20px;font-weight:bold;text-transform:uppercase;}
#portfolio-categories li a.current,#portfolio-categories li a:hover{border:1px solid #e6a531;color:#000;background:#e6a531;text-decoration:none;}
#portfolio-categories p{padding:0 10px;}

#field-slideshow{position:relative;height:222px;}
#field-slideshow div{margin:0;padding:0;height:222px;width:888px;position:absolute !important;top:0;left:28px;z-index:1;}
#field-slideshow ul{list-style:none;margin:0;padding:0;height:222px;width:auto;}
#field-slideshow li{float:left;width:202px;height:202px;padding:10px;}
#field-slideshow a img{border:1px solid #ccc;display:block;padding:10px;width:180px;height:180px;-webkit-box-shadow:  1px 1px 10px 1px rgba(0, 0, 0, 0.25);

        box-shadow:  1px 1px 10px 1px rgba(0, 0, 0, 0.25);}

#field-slideshow a.nav{background:no-repeat 0 0;width:25px;height:49px;text-indent:-9999em;display:block;position:absolute;top:86px;z-index:2;opacity:0.8;filter:alpha(opacity=80);}
#field-slideshow a.prev{background-image:url(../images/arrow-left.png);left:0;}
#field-slideshow a.next{background-image:url(../images/arrow-right.png);right:0;}
#field-slideshow a.nav:hover{opacity:1;filter:alpha(opacity=100);}
#field-slideshow a.nav[disabled=true]{opacity:0.4;filter:alpha(opacity=40);}

