{ap_snippet:header-store}
<div class="content-full first"><div class="content-full-bottom"><div class="content-full-repeat">
<h1 style="text-align:center;"><a href="/store"><img src="/layout-v2/images/online_marketplace.png" width="921" height="86" alt="Online Marketplace" /></a></h1>
            {ap_content}
</div></div></div>       
{ap_snippet:footer-v2}