{ap_template:doctype includeHtmlTag="true"}
  <head>
    <title>{ap_template:titleText} | The GAP Team | GAP Promotions, Gloucester, MA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/layout-v2/css/master.css" />
    <link rel="stylesheet" type="text/css" href="/layout-v2/css/team.css" />
    {ap_template:meta}{ap_template:css}{ap_template:javascript}{ap_template:head}
  </head>
  <body>
    <div>{ap_content}</div>
  </body>
</html>