<ul class="distributor-categories">
{loop items="#categories" value="category"}
   <li><a href="{#category.url}"><img {#category.image.src} class="img" /><img {#category.imageHover.src} class="img-hover" /></a></li>
{/loop}
</ul>
{ap_code:app:store key="statement"}<br />