<div id="featured-product">
   <h1>Featured Product of the Month</h1>
{if #itemCount > 0}
{loop items="#items" value="item"}
   {#item.primaryImages.medium.tag}
   <h2>{#item.name}</h2>
   {#item.featuredDescription}
{/loop}   
{else}
<p>There are no featured products right now. Check back soon!</p>
{/if}             
</div>